.evszak{
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}
.kepek{
    float: left;
}
img{
    border: 5px solid rgb(0, 255, 42);
    border-radius: 10%;
    width: 200px;
    margin: 20px;
    transition: 1s;
}
img:hover{
    transform: scale(1.4);
}

img:hover + p {
    font-size: xx-large;
}