body {
    background-color: rgb(10, 44, 44);
    text-align: justify;
}

div.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000dfffd;
}



div.nav li a {
    display: block;
    color: rgb(255, 238, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.nav li a:hover:not(.active) {
    background-color: #a80dad;
}

.active {
    background-color: #35c235;
}

h1 {
  color: rgb(172, 165, 232);
}

h2 {
  color: rgb(172, 165, 232);
}

* {
color: rgb(200, 229, 255);
}